body {
    height: 100vh;
    overflow: hidden;
    background-color: #000;
  }
  
  .green{
    background: #66FF99;
  }
  
  .orange{
      background: #f17c57fa;
  }
  
  .blue{
    background: #3652D9;
  }
  
  .rose{
    background:#FF66CC;
  }
  
  .center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  
  .circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #ffffff1a;
  }
  
  .pulse {
    animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
  }
  
  
  .master{
    color:black;
    float:right;
  }
  
  @media (max-width:900px){
    .master{
      display:none
    }
  }